* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --pink: #c32dd1;
}

body {
  background: url(./assets/bg.png);
  background-size: cover;
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
}

button {
  cursor: pointer;
}

.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #000000;
  padding: 15px 60px;
}

.logo {
  height: 30px;
}

.line {
  padding: 0 40px;
  border-right: 2px solid #ffffff;
  height: 50px;
}

.grow-list {
  margin-left: 30px;
}

.list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.list-item {
  list-style-type: none;
  font-size: 14px;
  margin: 0 30px;
  cursor: pointer;
}

.list-item:first-child {
  font-weight: 400;
  font-size: 14px;
}

.list-item:first-child::after {
  content: "\203A";
  margin-left: 10px;
  display: inline-block;
  transform: rotate(90deg) scale(1.5);
}

.button-small {
  position: fixed;
  right: 5%;
  top: 3%;
  font-family: "Montserrat", sans-serif;
  background-color: var(--pink);
  color: #ffffff;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
}

.menu-icon {
  display: none;
  height: 32px;
  cursor: pointer;
}

.hero {
  padding: 10% 25%;
  text-align: center;
}

.hero-heading {
  font-size: 60px;
  font-weight: 700;
}

.hero-description {
  font-size: 24px;
  padding: 10px 0;
}

.button-large {
  margin-top: 30px;
  font-family: "Montserrat", sans-serif;
  background-color: var(--pink);
  color: #ffffff;
  padding: 15px 20px;
  border-radius: 5px;
  border: none;
  font-size: 20px;
}

@media screen and (max-width: 1199px) {
  .navbar {
    padding: 15px 30px;
  }
  .hero {
    padding: 10%;
  }
}

@media only screen and (max-width: 991px) {
  .grow-list,
  .line {
    display: none;
  }
  .menu-icon {
    display: inline-block;
    position: fixed;
    top: 2%;
    right: 2%;
  }
  .button-small {
    right: 8%;
    top: 2%;
  }
}

@media only screen and (max-width: 767px) {
  .navbar {
    padding: 20px;
  }
  .hero {
    padding: 10% 5%;
  }
  .hero-heading {
    margin-top: 40px;
    font-size: 54px;
  }
  .hero-description {
    font-size: 22px;
  }
}

@media only screen and (max-width: 600px) {
  .button-small {
    display: none;
  }
  .menu-icon {
    right: 4%;
  }
  .hero-heading {
    margin-top: 40px;
    font-size: 44px;
  }
  .hero-description {
    font-size: 20px;
  }
  .button-large {
    margin-top: 30px;
    padding: 15px;
    font-size: 18px;
  }
}
